<% include head.ejs %>
<% include foot.ejs %>
<header>
  <nav>
    <div class="nav-wrapper amber my-footer">
      <a href="#" class="brand-logo center">Welcome to KST Movies</a>
    </div>
  </nav>
</header>
