<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href='/stylesheets/style.css' />
    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body class="bg">
    <div class="container">
      <div class="row">
        <h1>Welcome to <%= title %></h1>
        <div class="col-md-12 spa">
          <div class="dirc"><a class="uzz" href="/directors/new">Create a new director</a></div>
        </div>
        <div class="col-md-12 spa text-center">
        <% directors.forEach(function(directors) { %>
        <div class="col-md-2 spb">
          <a  class="blz" href="<%= '/directors/' + directors.id%>"><%= directors.name %></a>
        </div>
        <% }) %>

        </div>
      </div>
    </div>
  </body>
</html>
