<!DOCTYPE html>
<html lang="en">
<head>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body class="bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form action="/movies/<%= movie.id %>?_method=PUT" method="POST">
          <div class="shoMovie">Movie Title</div>
          <textarea class="shofMovie" rows="2" cols="50" name="title" ><%= movie.title %></textarea>
          <div class="shoMovie">Movie Synopsis</div>
          <textarea class="shofMovie" rows="4" cols="50" name="synopsis" ><%= movie.synopsis %></textarea>
          <br /><br />
          <input class="btn btn-danger" type="submit" value="Done Editing">
          <a href="/movies"><input class="btn btn-primary" value="Cancel" /></a>
        </form>
      </div>
      <div class="col-md-12">
        <a class="newzz" href="/movies">Go back to Movies page</a>
      </div>
    </div>
  </div>
</body>
</html>



