<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <div class="col-md-12 spa">
      <div class="dirc"><a class="uzz" href="/movies/new">Create a new movie</a></div>
    </div>
    <div class="">
     <% movies.forEach(function(movies) { %>
      <ul>
        <li class="blz"> <a href="/movies/<%=movies.id%>"><%= movies.title %></a>
        </li>
      </ul>
       <% }) %>
    </div>
  </body>
</html>

