<!DOCTYPE html>
<html>
  <head>

    <title>KST Movies - Add New Movie</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add a Movie!</h1>
    <form action="/movies" method="POST">
      <div>
        <label>
          Title
          <input type="text" name="title" />
        </label>
      </div>
      <div>
        <label>
          Synopsis
          <input type="text" name="synopsis" />
        </label>
      </div>
      <div>
        <label>
          id
          <input type="text" name="id" />
        </label>
      </div>

      <a href="/movies">Cancel</a>
      <input type="submit" value="Add a movie" />
    </form>

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body class="bg">
    <div class="container">
    <h1>Create New Director</h1>
    <div class="row">
    <div class="col-md-12 spa">
		<form action='/directors' method='POST'>
      <label class="firstName blz"> Name</br>
      <input type="text" name="name" class="firstName" />
      <input type="submit" />
		</form>
    </div>
  </div>
    <a class="newzz" href="/directors">Go back to Directors page</a>
    </div>

  </body>
</html>
