$black: #000;
$grey: #2b2b2b;
$white: #fff;
$red: #c13a3a;
$darkred: #9a0000;
.bg{
  background-image: url(/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.dirc a{
  background-color: $red;
  color: $white !important;
  padding: 10px;
  border-bottom: solid 6px $darkred;
  font-size: 1.4em;
  &:hover{
    color: $white !important;
    text-decoration: none;
    background-color: $darkred;
    border-bottom: solid 6px $darkred;
  }
}

.spa{
  margin-top: 40px;
}

.spb{
  margin: 20px 15px;
  border: solid 1px $grey;
  padding: 20px;
  height: 90px;
  background-color: $black;
  &:hover{
    background-color: $grey;
  }
}

.spb a{
  color: $white !important;
  text-decoration: none !important;
}

.blz{
  font-size: 1.4em;
}

.newzz{
  font-size: 1.3em;
  font-weight: 700;
  border-top: solid 1px $black;
  padding: 10px;
  margin-top: 30px;
  display: block;
  width: 25%;
  text-align: center;
}
.sho, .shoMovie{
  font-size: 6em;
  text-align: center;
}
.shoMovie {
  font-size: 3em;
}
.shoz, .shozMovies{
  font-size: 6em;
  background-color: $black;
  text-align: center;
  color: $white;
  margin-top: 1%;
  margin-bottom: 1%;
}
.shozMovies{
  font-size: 3em;
}
.shof, .shofMovie{
  font-size: 6em;
  background-color: $black;
  text-align: center;
  color: $white;
  margin-top: 10%;
}
.shofMovie {
  font-size: 3em;
  margin-top: 1%;
  margin-bottom: 1%;
}
.deleteButton {
  margin-top: 1%;
}
.goToMoviesBtn {
  margin-left: 1%;
  margin-right: 1%;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url('http://images2.fanpop.com/image/photos/14000000/Movie-Posters-johnny-depps-movie-characters-14056947-800-600.jpg');
}

main {
  flex: 1 0 auto;
}

label {
  font-size: 1.5rem;
}

#movieSubmit {
  height: 5rem;
  width: 10rem;
  font-size: 2rem;
  margin-top: 1%;
}
