<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body class="bg">
    <div class="container">
    <h1>Create New Movie</h1>
    <div class="row">
    <h1><a href="/user">Profile</a></h1>
    <div class="col-md-12 spa">
    <form action='/movies' method='POST'>
      <label class="firstName blz"> Title </label>
      <input type="text" name="title" class="firstName" />
      <br />

      <label class="firstName blz"> Synopsis </label>
      <input type="text" name="synopsis" class="firstName" />
      <br />

      <label class="firstName blz"> Id </label>
      <input type="text" name="id" class="firstName" />
      <br />

      <input type="submit" id="movieSubmit" />
    </form>
    </div>
  </div>
    <a class="newzz" href="/movies">Go back to Directors page</a>
    </div>
  </body>
</html>
